<div class = "container">

  <div class = "h4 mt-4 bg-light text-black text-center" style = "width:260px">
    &ensp;商品詳細&ensp;
  </div>

</div>


<div class = "container ml-0">
  <div class = "row mt-5">
    <div class = "col-1"></div>

    <div class = "col-4">
      <%= image_tag @item.get_item_image("300") %>
    </div>

    <div class = "col-7">
      <table class = "table table-borderless" style = "width: 530px">

        <tr>
          <td class = "py-2" style = "width: 150px; font-size:0.9rem">商品名</td>
          <td class = "py-2" style = "width: 350px; font-size:1.0rem">
            <%= @item.name %>
          </td>
        </tr>

        <tr>
          <td class = "py-2" style = "width: 150px; font-size:0.9rem">商品説明</td>
          <td class = "py-2" style = "width: 350px; font-size:1.0rem">
            <%= @item.introduction %>
          </td>
        </tr>

        <tr>
          <td class = "py-2" style = "width: 150px; font-size:0.9rem">ジャンル</td>
          <td class = "py-2" style = "width: 350px; font-size:1.0rem">
            <%= @item.genre.name %>
          </td>
        </tr>

        <tr>
          <td class = "py-2" style = "width: 150px; font-size:0.9rem">
            税込価格</br>
            (税抜価格)
          </td>
          <td class = "py-2" style = "width: 350px; font-size:1.0rem">
            <%= (@item.price + @item.price * 0.1).round.to_s(:delimited) %>&nbsp;(<%= @item.price.round.to_s(:delimited) %>)&nbsp;円
          </td>
        </tr>

        <tr>
          <td class = "py-2" style = "width: 150px; font-size:0.9rem">販売ステータス</td>
          <td class = "py-2" style = "width: 350px; font-size:1.0rem">

            <!-- 販売停止中の処理 -->
            <% if @item.is_sold == true %>
              <p class = "font-weight-bold m-0" style = "color: #CCCCCC">販売停止中</p>

            <!-- 販売中の処理 -->
            <% else %>
              <p class = "font-weight-bold text-success m-0">販売中</p>

            <% end %>

          </td>
        </tr>

        <tr>
          <td class = "pt-4 text-center" colspan = "2">
            <%= link_to "編集する", edit_admin_item_path(@item.id), class: "btn btn-success form-control font-weight-bold col-3", style: "height: 40px" %>
          </td>
        </tr>

      </table>
    </div>
  </div>
</div>