<div class = "container">
  <div class = "row">
    <div class = "pt-4 px-5 px-sm-0">
      <h4>
        <span class = "text-dark bg-light">
          &ensp;管理者ログイン&ensp;
        </span>
      </h4>

      <%= form_with model: @admin, url: admin_session_path do |f| %>

        <table class = "table table-borderless">
          
          <tr>
            <td>メールアドレス</td>
            <td>
              <div class = "field">
                <%= f.text_field :email, :size=>"60" %>
              </div>
            </td>
          </tr>
          
          <tr>
            <td>パスワード</td>
            <td>
              <div class = "field">
                <%= f.password_field :password, autocomplete: "current-password", :size=>"60" %>
              </div>
            </td>
          </tr>
          
          <tr>
            <td></td>
            <td>
              <%= f.submit "　　ログイン　　", class: "btn btn-primary" %>
            </td>
          </tr>
        </table>

      <% end %>

      <div class="mt-2">
        <%= render "admin/shared/links" %>
      </div>

    </div>
  </div>
</div>