<div class = "container ml-5">

  <div class = "h4 mt-4 bg-light text-black text-center" style = "width:350px">
    &ensp;<%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集&ensp;
  </div>

  <div class = "mt-4 mx-sm-0">

    <%= form_with model: @customer, url: admin_customer_path do |f| %>

      <table class = "table table-borderless" style= "width: 970px">

        <tr>
          <td class = "align-middle" style = "width: 200px">会員ID</td>
          <td class = "align-middle pl-3" style = "width: 300px">
             <%= @customer.id %>
          </td>
        </tr>

        <tr>
          <td class = "pt-1 align-middle" style = "width: 200px">氏名</td>
          <td class = "pt-1" style = "width: 300px">
            <%= f.text_field :last_name, class: "form-control border-dark" %>
          </td>
          <td class = "pt-1" style = "width: 10px"></td>
          <td class = "pt-1" style = "width: 300px">
            <%= f.text_field :first_name, class: "form-control border-dark" %>
          </td>
          <td style = "width: 160px"></td>
        </tr>

        <tr>
          <td class = "pt-0 align-middle" style = "width: 200px">フリガナ</td>
          <td class = "pt-0" style = "width: 300px">
            <%= f.text_field :last_name_kana, class: "form-control border-dark" %>
          </td>
          <td style = "width: 10px"></td>
          <td class = "pt-0" style = "width: 300px">
              <%= f.text_field :first_name_kana, class: "form-control border-dark" %>
          </td>
        </tr>

        <tr>
          <td class = "pt-0 align-middle" style = "width: 200px">郵便番号</td>
          <td class = "pt-0" style = "width: 300px">
              <%= f.text_field :postal_code, class: "form-control border-dark" %>
          </td>
        </tr>

        <tr>
          <td class = "pt-0 align-middle" style = "width: 200px">住所</td>
          <td class = "pt-0" colspan = "4">
              <%= f.text_field :address, class: "form-control border-dark" %>
          </td>
        </tr>

        <tr>
          <td class = "pt-0 align-middle" style= "width: 200px">電話番号</td>
          <td class = "pt-0" style = "width: 300px">
              <%= f.text_field :telephone_number, class: "form-control border-dark" %>
          </td>
        </tr>

        <tr>
          <td class = "pt-0 align-middle" style= "width: 200px">メールアドレス</td>
          <td class = "pt-0" style = "width: 300px">
              <%= f.text_field :email, class: "form-control border-dark" %>
          </td>
        </tr>

        <tr>
          <td class = "pt-2" style = "width: 200px">会員ステータス</td>
          <td class = "pt-2" style = "width: 300px">

            <!-- 有効時 -->
            <% if @customer.is_deleted == true %>
              <%= f.radio_button :is_deleted, :false%>
              <%= f.label :is_deleted, "有効" %>
              <%= f.radio_button :is_deleted, :true, class: "ml-4", checked: "checked" %>
              <%= f.label :is_deleted, "退会" %>

            <!-- 退会時 -->
            <% else %>
              <%= f.radio_button :is_deleted, :false, checked: "checked" %>
              <%= f.label :is_deleted, "有効" %>
              <%= f.radio_button :is_deleted, :true, class: "ml-4" %>
              <%= f.label :is_deleted, "退会" %>

            <% end %>

          </td>
        </tr>

        <tr>
          <td class = "pt-5" style = "width: 200px"></td>
          <td class = "pt-4" colspan = "width: 250px">
            <%= f.submit "変更を保存", class: "btn btn-success form-control col-7 py-1" %>
          </td>
        </tr>

      </table>

    <% end %>

  </div>
</div>








