<div class = "container">

  <div class = "h4 mt-4 bg-light text-black text-center" style = "width:350px">
    &ensp;<%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細&ensp;
  </div>

  <div class = "row ml-0 mt-4" style = "font-size:0.9rem">

    <div class = "d-flex align-items-center">
      <div class = "pl-2 py-2" style = "width: 200px">会員ID</div>
      <div class = "pl-2 py-2" style = "width: 500px">
        <%= @customer.id %>
      </div>
    </div>

    <div class = "d-flex align-items-center">
      <div class = "pl-2 py-2" style = "width: 200px">氏名</div>
      <div class = "pl-2 py-2" style= "width: 500px">
        <%= @customer.last_name %>&ensp;<%= @customer.first_name %>
      </div>
    </div>

    <div class = "d-flex align-items-center">
      <div class = "pl-2 py-2" style = "width: 200px">フリガナ</div>
      <div class = "pl-2 py-2" style = "width: 500px">
        <%= @customer.last_name_kana %>&ensp;<%= @customer.first_name_kana %>
      </div>
    </div>

    <div class = "d-flex align-items-center">
      <div class = "pl-2 py-2" style = "width: 200px">郵便番号</div>
      <div class = "pl-2 py-2" style = "width: 500px">
        <%= @customer.postal_code %>
      </div>
    </div>

    <div class = "d-flex align-items-center">
      <div class = "pl-2 py-2" style= "width: 200px">住所</div>
      <div class = "pl-2 py-2" style= "width: 500px">
        <%= @customer.address %>
      </div>
    </div>

    <div class = "d-flex align-items-center">
      <div class = "pl-2 py-2" style= "width: 200px">電話番号</div>
      <div class = "pl-2 py-2" style= "width: 500px">
        <%= @customer.telephone_number %>
      </div>
    </div>

    <div class = "d-flex align-items-center">
      <div class = "pl-2 py-2" style= "width: 200px">メールアドレス</div>
      <div class = "pl-2 py-2" style= "width: 500px">
        <%= @customer.email %>
      </div>
    </div>

    <div class = "d-flex align-items-center">
      <div class = "pl-2 py-2" style= "width: 200px">会員ステータス</div>
      <div class = "pl-2 py-2" style= "width: 500px">

        <!-- 退会時の処理 -->
        <% if @customer.is_deleted == true %>
          <p class = "font-weight-bold m-0" style = "color: #CCCCCC">退会</p>

        <!-- 退会していない時の処理 -->
        <% else %>
          <p class = "font-weight-bold text-success m-0">有効</p>

        <% end %>

      </div>
    </div>

    <div class = "d-flex align-items-center mt-4">
      <div style = "width: 200px"></div>
      <div style = "width: 160px">
        <%= link_to "編集する", edit_admin_customer_path(@customer.id), class: "btn btn-success form-control col-12" %>
      </div>
      <div style = "width: 90px"></div>
      <div style = "width: 220px">
        <%= link_to "注文履歴一覧を見る", admin_root_path, class: "btn btn-primary form-control col-12" %>
      </div>
    </div>

  </div>
</div>
