<div class = "container">

  <div class = "h4 mt-4 bg-light text-black text-center" style = "width:260px">
    &ensp;注文履歴詳細&ensp;
  </div>

</div>

<div class = "container ml-5 pl-5">

  <div class = "row mt-4 ml-3 pl-5">
    <span class = "h5 font-weight-bold" style = "width: 200px">
      購入者
    </span>
    <span style = "width: 300px; font-size:1.2rem">
      <%= link_to @order.customer.last_name + @order.customer.first_name,admin_root_path(customer_id: @order.customer_id), class: "text-dark" %>
    </span>
  </div>

  <div class = "row mt-2 ml-3 pl-5">
    <span class = "h5 font-weight-bold" style = "width: 200px">
      注文日
    </span>
    <span style = "width: 300px; font-size:1.2rem">
      <%= @order.created_at.strftime("%Y/%-m/%-d") %>
    </span>
  </div>

  <div class = "row mt-2 ml-3 pl-5">
    <span class = "h5 font-weight-bold" style = "width: 200px">
      配送先
    </span>
    <span style = "width: 800px; font-size:1.2rem">
      <%= '〒' + @order.postal_code + '　' + @order.address %></br>
      <%= @order.name %>
    </span>
  </div>

  <div class = "row mt-2 ml-3 pl-5">
    <span class = "h5 font-weight-bold" style = "width: 200px">
      支払方法
    </span>
    <span style = "width: 800px; font-size:1.2rem">
      <%= @order.payment_method_i18n %>
    <span>
  </div>

  <div class = "row mt-3 ml-3 pl-5">
    <span class = "h5 font-weight-bold" style = "width: 200px">
      注文ステータス
    </span>
    <span style = "width: 800px; font-size:1.2rem">
    <span>
  </div>
</div>

<div class = "container-xxl ml-5 mt-4" style = "width: 1320px">

  <div class = "row mt-4 ml-5 pl-5">
    <div class = "col-8">

      <table class = "table" style = "width: 880px; font-size:0.9rem">

        <thead class =  "bg-light">
          <tr>
            <th style = "width: 250px">商品名</th>
            <th class = "text-center" style = "width: 120px">単価(税込)</th>
            <th class = "text-center" style = "width: 120px">数量</th>
            <th class = "text-center" style = "width: 120px">小計</th>
            <th class = "text-center" style = "width: 270px">製作ステータス</th>
          </tr>
        </thead>

        <tbody class = "border-bottom">
          <% @order_item_list.each do |order_item| %>

            <tr class>
              <td class = "align-middle" style = "width: 250px">
                <%= order_item.item.name %>
              </td>
              <td class = "align-middle text-center" style = "width: 120px">
                <%= order_item.purchase_price.to_s(:delimited) %>
              </td>
              <td class = "align-middle text-center" style = "width: 120px">
                <%= order_item.amount %>
              </td>
              <td class = "align-middle text-center" style = "width: 120px">
                <%= order_item.subtotal.to_s(:delimited) %>
              </td>
            </tr>

          <% end %>
        </tbody>

      </table>

    </div>
  </div>

</div>