<div class = "container">

  <div class = "h4 mt-4 bg-light text-black text-center" style = "width:260px">
    &ensp;ジャンル一覧・追加&ensp;
  </div>

</div>

<div class = "container ml-5">
  <div class = "mt-5 pt-3 mx-sm-0">

    <%= form_with model: @genre, url: admin_genres_path do |f| %>

      <div class = "d-flex align-items-center">
        <div style = "width: 150px">ジャンル名</div>
        <div class = "mr-4" style = "width: 350px">
          <%= f.text_field :name, class: "form-control border-dark" %>
        </div>
        <div class = "ml-5" style = "width: 150px">
          <%= f.submit "新規登録", class: "btn btn-success form-control font-weight-bold col-12" %>
        </div>
      </div>

    <% end %>

  </div>

  <div class = "mt-5" style = "width: 420px; font-size:0.9rem">

    <div class = "d-flex align-items-center bg-light border-top border-bottom" style = "height: 40px">
      <div class = "text-center font-weight-bold" style = "width: 270px">ジャンル</div>
      <div style = "width: 150px; height: 30px"></div>
    </div>

    <div>
      <% @genre_list.each do |genre| %>
        <div class = "d-flex align-items-center border-bottom" style = "height: 60px">
          <div style = "width: 270px">
            <%= genre.name %>
          </div>
          <div style = "width: 150px">
            <%= link_to "編集する", edit_admin_genre_path(genre.id), class: "btn btn-success form-control col-11 ml-2 p-1", style: "height: 35px" %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
