<div class = "container">

  <div class = "h4 mt-4 bg-light text-black text-center" style = "width:260px">
    &ensp;配送先登録/一覧&ensp;
  </div>

</div>

<div class = "container ml-5">
  <div class = "mt-3 mx-sm-0">

    <%= form_with model: @delivery_registration, url: delivery_addresses_path do |f| %>

      <table class = "table table-borderless" style= "width: 1060px">

        <tr>
          <td class = "align-middle" style = "width: 230px">郵便番号(ハイフンなし)</td>
          <td style = "width: 350px">
            <%= f.text_field :postal_code, class: "form-control border-dark" %>
          </td>
        </tr>

        <tr>
          <td class = "pt-0 align-middle" style = "width:230px">住所</td>
          <td class = "pt-0"  colspan = "2">
            <%= f.text_field :address, class: "form-control border-dark" %>
          </td>
        </tr>

        <tr>
          <td class = "pt-0 align-middle" style = "width: 230px">宛名</td>
          <td class = "pt-0" style = "width 350px">
            <%= f.text_field :name, class: "form-control border-dark" %>
          </td>
          <td class = "pt-0" style = "width: 350px"></td>
          <td class = "pt-0" style = "width: 130px">
            <%= f.submit "　 新規登録 　", class: "btn btn-success form-control font-weight-bold col-12" %>
          </td>

      </table>

    <% end %>

  </div>
</div>

<div class = "container ml-3">
  <div class = "row ml-3 mt-4" style = "font-size:0.9rem">
    <table class = "table table-bordered" style = "width: 900px">

      <thead class =  "bg-light">
        <tr>
          <th class = "border border-dark" style = "width: 100px">郵便番号</th>
          <th class = "border border-dark" style = "width: 400px">住所</th>
          <th class = "border border-dark" style = "width: 150px">宛名</th>
          <th class = "border border-dark" style = "width: 250px"></th>
        </tr>
      </thead>

      <tbody>
        <% @delivery_destination_list.each do |delivery_destination| %>

          <tr class>
            <td class = "border border-dark align-middle" style = "width: 100px">
                <%= delivery_destination.postal_code %>
            </td>
            <td class = "border border-dark align-middle" style = "width: 400px">
              <%= delivery_destination.address %>
            </td>
            <td class = "border border-dark align-middle" style = "width: 150px">
              <%= delivery_destination.name %>
            </td>
            <td class = "border border-dark align-middle" style = "width: 250px">
              <%= link_to " 編集する ", edit_delivery_address_path(delivery_destination.id), class: "btn btn-success form-control col-5 ml-2 p-1", style: "height: 35px" %>
              <%= link_to " 削除する ", delivery_address_path(delivery_destination.id), method: :delete, class: "btn btn-danger form-control col-5 ml-2 p-1", style: "height: 35px" %>
            </td>
          </tr>

        <% end %>
      </tbody>

    </table>
  </div>
</div>





















