<div class = "container">
  <div class = "row">
    <div class = "pt-4 px-5 px-sm-0">
      <h4>
        <span class = "text-dark bg-light">
          &ensp;新規会員登録&ensp;
        </span>
      </h4>

      <%= form_with model: @customer, url: customer_registration_path do |f| %>

        <table class = "table table-borderless">

          <tr>
            <td>名前</td>
            <td>(性)</td>
            <td>
              <div class = "field">
                <%= f.text_field :last_name, :size=>"30" %>
              </div>
            </td>
            <td>(名)</td>
            <td>
              <div class = "field">
                <%= f.text_field :first_name, :size=>"30" %>
              </div>
            </td>
          </tr>

          <tr>
            <td>フリガナ</td>
            <td>(セイ)</td>
            <td>
              <div class = "field">
                <%= f.text_field :last_name_kana, :size=>"30" %>
              </div>
            </td>
            <td>(メイ)</td>
            <td>
              <div class = "field">
                <%= f.text_field :first_name_kana, :size=>"30" %>
              </div>
            </td>
          </tr>

          <tr>
            <td>メールアドレス</td>
            <td></td>
            <td>
              <div class = "field">
                <%= f.text_field :email, :size=>"30" %>
              </div>
            </td>
          </tr>

          <tr>
            <td>郵便番号(ハイフンなし)</td>
            <td></td>
            <td>
              <div class = "field">
                <%= f.text_field :postal_code, :size=>"30" %>
              </div>
            </td>
          </tr>

          <tr>
            <td>住所</td>
            <td></td>
            <td colspan = "3">
              <div class = "field">
                <%= f.text_field :telephone_number, style: "width:100%" %>
              </div>
            </td>
          </tr>

          <tr>
            <td>電話番号(ハイフンなし)</td>
            <td></td>
            <td>
              <div class = "field">
                <%= f.text_field :telephone_number, :size=>"30" %>
              </div>
            </td>
          </tr>

          <tr>
            <td>パスワード(6文字以上)</td>
            <td></td>
            <td>
              <div class="field">
                <%= f.password_field :password, autocomplete: "new-password", :size=>"30" %>
              </div>
            </td>
          </tr>

          <tr>
            <td>パスワード(確認用)</td>
            <td></td>
            <td>
              <div class="field">
                <%= f.password_field :password_confirmation, autocomplete: "new-password", :size=>"30" %>
              </div>
            </td>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td>
              <%= f.submit "　　新規登録　　", class: "btn btn-success" %>
            </td>
          </tr>
        </table>

      <% end %>

      <h4 class = "mt-3">
        <span class = "text-dark bg-light">
          &ensp;既に登録済みの方&ensp;
        </span>
      </h4>

      <div class = "mt-3 ml-5">
        <span>
          <%= render "admin/shared/links" %>
          &ensp;からログインしてください。
        </span>
      </div>

    </div>
  </div>
</div>
