<div class = "container-xxl mx-auto mt-5" style = "width: 1320px">

  <div class = "row">
    <div class = "col-2">

      <div class = "py-1 font-weight-bold text-center border border-dark" style = "width: 180px; font-size: 0.9rem">
        ジャンル検索
      </div>

      <div class = "border-left border-right border-bottom border-dark pt-1" style = "width: 180px; height: 400px;">
        <% @genre_list.each do |genre| %>

          <div class = "py-2 pl-3" style = "font-size: 0.9rem">
            <%= link_to genre.name, items_path(genre_id: genre.id), class: "text-dark" %>
          </div>

        <% end %>
      </div>

    </div>

    <div class = "col-10">

      <div class = "h3 mt-4 text-black font-weight-bold" style = "width:350px">

        <% if params[:genre_id] %>
          <%= @genre.name %>一覧(全<%= @item_count %>件)

        <% else %>
          商品一覧(全<%= @item_count %>件)

        <% end %>

      </div>

      <div class = "row">
        <% @item_list.each do |item| %>

          <div class = "col-3 mt-4">
            <div>
              <%= link_to item_path(item.id) do %>
                <%= image_tag item.get_item_image("200x150!") %>
              <% end %>
            </div>
            <div class = "mt-2 font-weight-bold">
              <%= item.name %>
            </div>
            <div class = "mt-2 font-weight-bold">
              <%= number_to_currency((item.price + item.price * 0.1).round, unit: "¥", strip_insignificant_zeros: true) %>
            </div>
          </div>

        <% end %>
      </div>

      <div class = "mt-5">
        <%= paginate @item_list %>
      </div>

    </div>
  </div>
</div>
